* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* #region header */
header {
  width: 100%;
  background-color: rgba(49, 97, 224, 255);
}

.container-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem 2rem;
}

.logo {
  display: flex;
  gap: 2rem;
}

.logo img {
  width: 70px;
}

/* #endregion header */

.main-menù {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.main-menù span {
  color: white;
  font-weight: 300;
}

.btn {
  background-color: white;
  color: black;
  border-radius: 5px;
  font-size: 12px;
  padding: 5px 10px;
  border: none;
}

/* #region img */
img {
  max-width: 100%;
  height: auto;
  display: block;
}

/* HERO SECTION */
.hero {
  position: relative;
  width: 100%;
  max-width: 1200px;
}

.jumbo-img {
  width: 100%;
  height: auto;
  display: block;
}

.contenuto {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -30%);
  text-align: center;
  color: white;
  max-width: 600px;
}

.talk {
  font-size: 24px;
}

.paragrafo {
  font-size: 14px;
  margin-top: 1rem;
}

.button {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-top: 2rem;
}

.btnmac {
  background-color: white;
  color: black;
  border-radius: 5px;
}

.btndiscord {
  background-color: black;
  color: white;
  border: 2px solid;
  border-radius: 5px;
}

/* SEZIONI.item */

.item,
.froggy-section,
.wizard-section,
.coach-section{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  max-width: 1200px;
  width: 100%;
  padding: 2rem;
}

/* TESTO NEI CONTAINER */
.pstudy,
.just-chillin
.fandom {
  max-width: 600px;
}

/* IMMAGINI SEZIONI */
.froggy-section img,
.wizard-section img,
.coach-section img {
  max-width: 500px;
  height: auto;
}

.tecnologia {
  display: flex;
  justify-content: center;
}

footer {
  display: flex;
  flex-direction: column;     
  align-items: center;       
  justify-content: center;   
  padding: 3rem 1rem;      
  text-align: center;
  background-color: #f5f5f5; 
}


footer button {
  margin-top: 1.5rem;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #5865f2;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}


footer img {
  max-width: 100px;
  margin-top: 1rem;
}


